################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BisleriumX-Backend/FileContentIndex/017ee583-a397-4c86-8a7a-da290dcb8c28.vsidx
